{% extends 'base.html.twig' %}

{% block title %}Edit Vote{% endblock %}

{% block body %}
    <h1>Edit Vote</h1>

    {{ include('vote/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vote_index1') }}">back to list</a>


{% endblock %}
