{% extends 'base.html.twig' %}
{% block Stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
{% endblock %}
{% block body %}
<p>Votre Panier est Vide</p>
{% endblock %}