
{% extends 'baseBackOffice.html.twig' %}




{% block body %}
    <h1 style="color: red">Modifier Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    {# <button><h4><a href="{{ path('app_evenement_index') }}"  style="color: red">back to list</a></h4></button> #}

  {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
