{{ form(form) }}

{#<form action="{{ path('test') }}">#}
{#    <input size="15" type="date" id="latbox" name="dateA" value="">#}
{#    <input size="15" type="date" id="lonbox" name="dateD" value="">#}
{#    <input type="submit" value="submit" />#}
{#</form>#}