{% extends 'baseBackOffice.html.twig' %}

{% block title %}New Chambre{% endblock %}

{% block body %}


    {{ include('chambres/_form.html.twig') }}

    <a href="{{ path('app_chambres_index') }}"> <button class="btn btn-success pull-right">{{ button_label|default('Back To List') }}</button></a>
{% endblock %}
