{% extends 'baseBackOffice.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>user </h1>

    <table class="table">
        <tbody>
        <tr>
                <th>email</th>
                <th>verified</th>
                <th>report account</th>
              
            </tr>
        {%for user in users%}
            
             <tr>
                
                <td>{{ user.email}}</td>
                <td>{%if user.isVerified == 1%}<i class="fa fa-check"></i>{%else%}<i class="fa fa-ban"></i>{%endif%}</td>
                <td> <form action="{{ path('app_Delete_User', {'id': user.id}) }}"><button class="btn btn-danger pull-right">Repport</button></form></td>
            </tr>
         {%endfor%}
        </tbody>
    </table>
 
   
{% endblock %}
